<template>
    <h1>{{ msg }}</h1>
    <h2>{{ sub }}</h2>
</template>

<script>
export default {
    props: {
        msg: {
            type: String,
            required: true
        },
        sub: {
            type: String,
            default: "Ciao mondo!",
        }
    }
}
</script>

<style>
    h2 {
        color: red;
    }
</style>

<style scoped>
    h1 {
        color: red;
    }
</style>