<template>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Attività da fare</th>
                <th>Fatto</th>
                <th>Azioni</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="todo in todos" :key="todo.id">
                <td>{{ todo.id }}</td>
                <!--<td :class="todo.done ? 'barrato': ''">{{ todo.label }}</td>-->
                <td :class='[{ barrato: todo.done }]'>{{ todo.label }}</td>
                <td><input type="checkbox" :checked="todo.done" @change="$emit('doneTodo', todo)"></td>
                <td>
                    <button @click="$emit('deleteTodo', todo)" class="btn btn-danger m-1">Elimina</button>
                    <button @click="$emit('upperTodo', todo)" class="btn btn-secondary m-1">Maiuscolo</button>
                    <button @click="$emit('doneTodo', todo)" class="btn btn-success m-1">{{ todo.done ? 'Non fatto' : 'Fatto' }}</button>
                </td>
            </tr>
        </tbody>
    </table>
</template>

<script>
export default {
    props: {
        todos: {
            type: Array,
            required: true
        }
    },
}
</script>

<style scoped>
    .barrato {
        text-decoration: line-through;
    }
</style>