<template>
    <form @submit.prevent="addTodo">
        <input type="text" class="text" v-model="newTodoLabel" name="Nuovo TODO" id="newTodo">
        <input type="submit" class="btn btn-primary" value="Aggiungi">
    </form>
</template>

<script>
export default {
    props: {
        todos: {
            type: Array,
            required: true
        }
    },
    data() {
        return {
            newTodoLabel: ''
        };
    },
    methods: {
        addTodo() {
            this.$emit('addTodo', this.newTodoLabel);
            this.newTodoLabel = '';
        }
    }
}
</script>