<template>
    <TodoForm :todos="todos" @addTodo="addTodo"></TodoForm>
    <TodoTable :todos="todos" @deleteTodo="deleteTodo" @upperTodo="upperTodo" @doneTodo="doneTodo"></TodoTable>
</template>

<script>
import TodoForm from './TodoForm.vue'
import TodoTable from './TodoTable.vue'

export default {
    props: {
        initTodos: {
            type: Array,
            default: () => []
        }
    },
    data() {
        return {
            todos: this.initTodos,
            newTodoLabel: ''
        };
    },
    methods: {
        deleteTodo(todo) {
            console.info("deleteTodo", todo)
            this.todos = this.todos.filter(x => x.id != todo.id);
        },
        addTodo(todoLabel) {
            const minID = Math.min(0, ...(this.todos.map(x => x.id)));
            console.info("addTodo", todoLabel, minID)
            const newTodo = {
                label: todoLabel,
                id: minID - 1
            };
            this.todos = [...(this.todos), newTodo];
        },
        upperTodo(todo) {
            console.info("upperTodo", todo)
            this.todos = this.todos.map(x => x.id!==todo.id ? x : {
                ...x,
                label: x.label.toUpperCase()
            });
        },
        doneTodo(todo) {
            this.todos = this.todos.map(x => x.id!==todo.id ? x : {
                ...x,
                done: !x.done
            });
        },
    },
    components: {
        TodoForm,
        TodoTable
    }
}
</script>