<template>
  <img alt="Vue logo" src="./assets/logo.png" />
  <HelloWorld msg="Welcome to Your Vue.js App" />
  <HelloI18n />

  <button @click="changeLocale('it')">ITA</button>
  <button @click="changeLocale('en')">ENG</button>
</template>

<script>
import HelloI18n from "./components/HelloI18n.vue";
import HelloWorld from "./components/HelloWorld.vue";

export default {
  name: "App",
  components: {
    HelloWorld,
    HelloI18n,
  },
  methods: {
    changeLocale(locale) {
      this.$i18n.locale = locale;
    },
  },
  created() {
    //this.$i18n.locale = navigator.language.substring(0,2);
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
