<template>
  <div class="container">
    <div class="navbar-expand"></div>
    <div id="nav" role="navigation" class="navbar">
      <router-link class="nav_item" to="/">Home</router-link>
      <span v-for="category in $store.getters.getCategories" :key="category.id">
        <router-link class="nav_item" :to="`/category/${category.id}`">{{
          category.name
        }}</router-link>
      </span>
      <router-link class="nav_item" to="/cart">Carrello</router-link>
      <!--<router-link class="nav_item" to="/about">About</router-link>-->
    </div>
    <router-view />
  </div>
</template>

<script>
export default {
  mounted() {
    console.info("App::mounted", this);
    this.$store.dispatch("loadCategories");
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
