<template>
  <p>{{ $t('hello') }}</p>
  
  <p>{{ $t('results', 0) }}</p>
  <p>{{ $t('results', 1) }}</p>
  <p>{{ $t('results', 4) }}</p>

  <p>{{ $d(new Date(), 'short') }}</p>
  <p>{{ $d(new Date(), 'long') }}</p>

  <p>{{ $n(12345.67890, 'currency', 'EUR') }}</p>
</template>

<script>
import { defineComponent } from 'vue'
import { useI18n } from 'vue-i18n'

export default defineComponent({
  name: 'HelloI18n',
  setup() {
    const { t, d, n } = useI18n({
      inheritLocale: true,
      useScope: 'local'
    })

    // Something todo ..

    return { t, d, n }
  }
})
</script>

<!--<i18n>
{
  "en": {
    "hello": "Hello i18n in SFC!"
  }
}
</i18n>-->
