<template>
  <img alt="Vue logo" src="./assets/logo.png">
  <HelloWorld msg="Welcome to Your Vue.js App"/>
  <ContatoreBase></ContatoreBase>
  <ContatoreStore></ContatoreStore>
  <Users></Users>
</template>

<script>
import HelloWorld from './components/HelloWorld.vue'
import ContatoreBase from './components/ContatoreBase.vue'
import ContatoreStore from './components/ContatoreStore.vue'
import Users from './components/Users.vue'

export default {
  name: 'App',
  components: {
    HelloWorld,
    ContatoreBase,
    ContatoreStore,
    Users
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
