<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test corso Vue.js</title>
    <!--<script src="https://unpkg.com/vue@next"></script>-->
    <script src="https://unpkg.com/vue@3.2"></script>
</head>
<body>
    <div id="app">
        Sono {{ nome }} {{ cognome }} e ho {{ eta }} anni (sono {{ eta>=18 ? 'maggiorenne' : 'minorenne' }}).
        
        
        <div v-if="amici.length">
            Amici:
            <ul>
                <li v-for="amico in amici">
                    {{ amico.nome }} ({{ amico.eta }} anni)
                </li>
            </ul>
        </div>
        <div v-else-if="typeof amici === 'string'">{{ amici }}</div>
        <div v-else>Nessun amico</div>

        <!--<img v-bind:src="foto" v-bind:alt="nome">-->
        <img :src="foto" :alt="nome">

        <hr>

        <!--<button v-on:click="incrementa()">+</button>-->
        <div>
            <span>{{contatore}}</span>
            <br />
            <button @click="incrementa">+</button>
            <button @click="decrementa">-</button>
        </div>
    </div>
    <script>
        Vue.createApp({
            data() {
                return {
                    nome: "Mario",
                    cognome: "Rossi",
                    eta: 50,
                    foto: 'https://v3.vuejs.org/logo.png',
                    amici: [{
                        nome: "Pippo",
                        eta: 15
                    }, {
                        nome: "Pluto",
                        eta: 30
                    }],
                    contatore: 0
                };
            },
            methods: {
                incrementa() {
                    this.contatore++;
                },
                decrementa() {
                    this.contatore--;
                }
            }
        }).mount("#app");
    </script>
</body>
</html>