<template>
    <div>
        <h1>{{ $store.getters.getCount }}</h1>
        <button @click="$store.commit('incrementCount')">+</button>
        <button @click="$store.commit('decrementCount')">-</button>
        <button @click="increment">+</button>
        <button @click="decrement">-</button>
        <button @click="$store.dispatch('fetchCount')">Fetch</button>
    </div>
</template>

<script>
export default {
    methods: {
        increment() {
            this.$store.commit('incrementCount')
        },
        decrement() {
            this.$store.commit('decrementCount')
        }
    }
}
</script>
