<template>
    <div>
        <h1>{{ count }}</h1>
        <button @click="increment">+</button>
        <button @click="decrement">-</button>
        <button @click="fetchCount">Fetch</button>
    </div>
</template>

<script>
export default {
    data() {
        return {
            count: 0
        };
    },
    methods: {
        increment() {
            this.count++;
        },
        decrement() {
            this.count--;
        },
        async fetchCount() {
            const url = "https://www.random.org/integers/?num=1&min=1&max=6&col=1&base=10&format=plain&rnd=new",
                response = await fetch(url);
            this.count = await response.json();
        }
    }
}
</script>
