<template>
    <ol v-for="user in $store.state.users" :key="user.id">
        <li>{{user.name}}</li>
    </ol>
</template>

<script>
export default {
    mounted() {
        this.$store.dispatch("fetchUsers");
    }
}
</script>