<template>
  <div>
    <h1>{{ contatore }}</h1>
    <button @click="incrementa">+++</button>
    <Nome nome="pippo"></Nome>
  </div>
</template>

<script>
import { computed, ref } from "vue";
import Nome from "./Nome.vue";
export default {
  name: "HelloWorld",
  components: {
    Nome
  },
  setup() {
    const contatore = ref(10);

    const incrementa = () => {
      console.log("incrementa", { contatore });
      contatore.value++;
    };

    const doppio = computed(() => contatore.value * 2);

    console.log('HelloWorld setup', { contatore, incrementa, doppio });
    return { contatore, incrementa, doppio };
  },
};
</script>
