<template>
  <div>
    <h1 @click="clickNome">{{ nomeMaiuscolo }}</h1>
  </div>
</template>

<script>
import { computed, toRefs } from "vue";
export default {
  props: {
    nome: {
      type: String,
    },
  },
  setup(props, { emit }) {
    const { nome } = toRefs(props);

    const nomeMaiuscolo = computed(() => nome.value.toUpperCase());

    const clickNome = () => emit("clickNome", nome.value);

    return { nomeMaiuscolo, clickNome };
  },
};
</script>
