<template>
  <img alt="Vue logo" src="./assets/logo.png">
  <!--<HelloWorld msg="Welcome to Your Vue.js App"/>-->
  <Titolo msg="Ciao mondo!"></Titolo>
  <Titolo :msg="titolo"></Titolo>
  <!--<Titolo sub="Pippo"></Titolo> crea un warning perchè manca msg -->
  <h1>Test scoped CSS</h1>
  <h2>Test non-scoped CSS</h2>
  <div class="container">
    <TodoWidget :initTodos="todos"></TodoWidget>
  </div>
</template>

<script>
//import HelloWorld from './components/HelloWorld.vue'
import Titolo from './components/Titolo.vue'
import TodoWidget from './components/TodoWidget.vue'

export default {
  name: 'App',
  data() {
    return {
      titolo: "Ciao mondo!",
      todos: [{
        id: 1, label: "Comprare formaggio"
      }, {
        id: 2, label: "Pagare bollette"
      }, {
        id: 3, label: "Vendere PC"
      }]
    };
  },
  components: {
    //HelloWorld
    Titolo,
    TodoWidget
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
