<template>
  <div class="books">
    <h1>Books</h1>
    <BookTable :books="books"></BookTable>
  </div>
</template>

<script lang="ts">
/*
import Vue from 'vue'
export default Vue.extend({
  
})
*/

import { Options, Vue } from "vue-class-component";
import Book from "../types/Books";
import BookService from "../services/bookService";
import BookTable from "@/components/BookTable.vue";

@Options({
  components: {
    BookTable,
  },
})
export default class Books extends Vue {
  books: Book[] = [];

  async loadBooks(): Promise<void> {
    const data = await BookService.getAll();
    this.books = data.data;
  }

  mounted(): void {
    this.loadBooks();
  }
}
</script>
