<template>
  <div>
    <table class="table cart_table">
      <thead>
        <tr>
          <th>Titolo</th>
          <th>Immagine</th>
          <th>Prezzo</th>
          <th>Quantità</th>
          <th>Azioni</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="item in getCartItems" :key="item.id">
          <td>{{ item.title }}</td>
          <td>
            <img
              class="item_image"
              :src="item.image"
              alt="Imamgine del prodotto"
            />
          </td>
          <td>{{ item.price }}</td>
          <td>{{ item.qty }}</td>
          <td>
            <button class="btn btn-secondary" @click="decrementItemCount(item)">
              -
            </button>
            <button class="btn btn-secondary" @click="incrementItemCount(item)">
              +
            </button>
            <button
              class="btn btn-danger"
              @click="$store.commit('removeItemFromCart', item)"
            >
              Elimina
            </button>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td></td>
          <td></td>
          <td>{{ getCartTotalPrice }}</td>
          <td></td>
          <td>
            <button class="btn btn-danger" @click="removeAll">
              Rimuovi tutto
            </button>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</template>

<script>
export default {
  methods: {
    incrementItemCount(item) {
      this.$store.commit("incrementItemCountInCart", { item, n: 1 });
    },
    decrementItemCount(item) {
      this.$store.commit("incrementItemCountInCart", { item, n: -1 });
    },
    removeAll() {
      this.$store.commit("removeAllCartItems");
    },
  },
  mounted() {
    console.info("Cart::mounted");
    this.$store.dispatch("loadCartIfNecessary");
  },
  computed: {
    getCartItems() {
      return this.$store.getters.getCartItems;
    },
    getCartTotalPrice() {
      return this.$store.getters.getCartTotalPrice;
    },
  },
};
</script>

<style scoped>
table.cart_table img.item_image {
  max-width: 15em;
  max-height: 10em;
}
</style>
