<template>
  <div>
    <h1>{{ getCategory?.name }}</h1>
    <table class="table products_table">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Prezzo</th>
          <th>Descrizione</th>
          <th>Immagine</th>
          <th>Azioni</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="product in getProducts" :key="product.id">
          <th>{{ product.title }}</th>
          <th>{{ product.price }}</th>
          <th>{{ product.description }}</th>
          <th>
            <img
              class="product_image"
              :src="product.image"
              alt="Imamgine del prodotto"
            />
          </th>
          <th>
            <router-link class="btn btn-primary" :to="`/product/${product.id}`">
              Vai
            </router-link>
            <button class="btn btn-primary" @click="addToCart(product)">
              Compra
            </button>
          </th>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  methods: {
    addToCart(product) {
      this.$store.dispatch("addProductToCart", { product, n: 1 });
      this.$router.push("/cart");
    },
  },
  mounted() {
    console.info("Category::mounted", this);
    this.$store.dispatch("loadProductsIfNecessary");
  },
  computed: {
    getCategory() {
      const id = this.$route.params.id;
      return this.$store.getters.getCategoryByID(id);
    },
    getProducts() {
      return this.$store.getters.getProductsByCategory(this.getCategory);
    },
  },
};
</script>

<style scoped>
table.products_table img.product_image {
  max-width: 15em;
  max-height: 10em;
}
</style>
