<template>
  <div>
    <h1>{{ getProduct?.title }}</h1>
    <p>Descrizione: {{ getProduct?.description }}</p>
    <p>Prezzo: {{ getProduct?.price }}</p>
    <p>
      <img
        class="product_image"
        :src="getProduct?.image"
        alt="Imamgine del prodotto"
      />
    </p>
    <button
      v-if="isProductInCart"
      @click="$router.push('/cart')"
      class="btn btn-primary"
    >
      Vedi nel carrello
    </button>
    <button v-else @click="addToCart" class="btn btn-primary">Compra</button>
  </div>
</template>

<script>
export default {
  methods: {
    addToCart(n) {
      this.$store.dispatch("addProductToCart", this.getProduct, n);
      this.$router.push("/cart");
    },
  },
  mounted() {
    console.info("Product::mounted", this);
    this.$store.dispatch("loadProductsIfNecessary");
  },
  computed: {
    getProduct() {
      const id = this.$route.params.id;
      return this.$store.getters.getProductByID(id);
    },
    isProductInCart() {
      return this.$store.getters.isProductInCart(this.getProduct);
    },
  },
};
</script>
