<template>
    <h1>Utenti</h1>
    <button class="btn btn-secondary" @click="loadUsers">Ricarica utenti</button>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Nome utente</th>
                <th>Email</th>
                <th>Azioni</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="user in users" :key="user.id">
                <td>{{user.id}}</td>
                <td>{{user.name}}</td>
                <td>{{user.username}}</td>
                <td>{{user.email}}</td>
                <td><router-link class="btn btn-primary" :to="`/user/${user.id}`">Vai</router-link></td>
            </tr>
        </tbody>
    </table>
</template>

<script>
export default {
    data() {
        return {
            users: []
        }
    },
    methods: {
        loadUsers() {
            const url = "https://jsonplaceholder.typicode.com/users";
            fetch(url)
                .then(response => response.json())
                .then(data => this.users = data);
        },
    },
    mounted() {
        console.info("mounted", this);
        this.loadUsers();
    }
}
</script>