<template>
    <h1>Utente</h1>
    <router-link class="btn btn-primary m-1" to="/users">Torna agli utenti</router-link>
    <button class="btn btn-secondary m-1" @click="loadUser">Ricarica utente</button>
    <p>ID: {{user.id}}</p>
    <p>Nome: {{user.name}}</p>
    <p>Nome utente: {{user.username}}</p>
    <p>Email: {{user.email}}</p>
</template>

<script>
export default {
    data() {
        return {
            user: {}
        }
    },
    methods: {
        async loadUser() {
            const id = this.$route.params.id,
                url = "https://jsonplaceholder.typicode.com/users/"+id;
            /*fetch(url)
                .then(response => response.json())
                .then(data => this.user = data);*/
            const response = await fetch(url);
            this.user = await response.json();
        },
    },
    mounted() {
        console.info("mounted", this);
        this.loadUser();
    }
}
</script>